<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Paste Textarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="to-comment">
        <div class="comment-wrapper">
            <div class="textarea" contenteditable="true" data-text="What's on your mind?"></div>
        </div>
        <div class="mt-2 position-relative btn-wrapper">
            <button type="button"
                class="btn position-absolute btn-right comment-btn bg-primary text-white">Submit</button>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>

</html>